.nombre{
  font-size: 20px;
  padding: 10rem 0rem 0rem 0rem;
  background: #082032;
}

.hora{
  color: #ff4c29;
  font-size: 18px;
  padding: 20px 0px 0px 50px;
}

.red{
  padding: 3rem 7rem 0rem 4.5rem;
  background: #082032;
}

.redes1{
  width: 50px;
  padding: 0rem 0rem 3rem 0rem;
}

.redes2{
  width: 70px;
  padding: 0rem 0rem 3rem 0rem;
}

.redes{
  width: 50px;
  padding: 0rem 0rem 2.2rem 0rem;
}


.crear{
  background: #082032;
  color: black;
  font-size: 18px;
  padding: 18px
}

.pie{
  padding: 0;
  background: #082032;
}

.fot{
  color: black;
}