.error{
  background: #082032;
}

.numero{
  text-align: center;
  font-size: 150px;
}

.zona{
  text-align: center;
  background: #082032;
  margin: 0px 0px 30px 0px;
}

.volver{
  padding: 0px 0px 0px 510px;
  font-size: 20px;
}